{% extends "layout.html" %}

{% block content %}

<div id="app">

<h3>All Applications</h3>

<table class="table table-bordered mt-4">

<tr>
<th>ID</th>
<th>Student ID</th>
<th>Drive ID</th>
<th>Status</th>
<th>Applied On</th>
</tr>

<tr v-for="app in applications" :key="app.id">

<td>[[ app.id ]]</td>
<td>[[ app.student_id ]]</td>
<td>[[ app.drive_id ]]</td>
<td>[[ app.status ]]</td>
<td>[[ app.applied_on ]]</td>

</tr>

</table>

<a href="/admin/dashboard" class="btn btn-secondary">Back</a>

</div>


<script>

const { createApp } = Vue

createApp({

delimiters: ['[[', ']]'],

data() {
return {

applications: {{ applications | tojson }}

}
}

}).mount("#app")

</script>

{% endblock %}