{% extends "layout.html" %}
{% block content %}

<div id="app">

<h3>Placement Drives</h3>

<table class="table table-bordered">

<tr>
<th>ID</th>
<th>Job Title</th>
<th>Status</th>
<th>Action</th>
</tr>

<tr v-for="drive in drives">

<td>[[ drive.id ]]</td>
<td>[[ drive.job_title ]]</td>

<td>
<span v-if="drive.status=='Approved'"
class="badge bg-success">
Approved
</span>

<span v-else
class="badge bg-warning">
Pending
</span>
</td>

<td>

<a v-if="drive.status!='Approved'"
:href="'/admin/approve_drive/' + drive.id"
class="btn btn-success btn-sm">

Approve

</a>

</td>

</tr>

</table>

<a href="/admin/dashboard" class="btn btn-secondary">
Back
</a>

</div>

<script>

const { createApp } = Vue

createApp({

delimiters:['[[',']]'],

data(){
return{
drives: {{ drives | tojson }}
}
}

}).mount("#app")

</script>

{% endblock %}