{% extends "layout.html" %}

{% block content %}

<h3>Drive Applications</h3>

<table class="table table-bordered">

<tr>
<th>Application ID</th>
<th>Student Name</th>
<th>CGPA</th>
<th>Resume</th>
<th>Status</th>
<th>Update Status</th>
</tr>

{% for app in applications %}

<tr>

<td>{{ app.id }}</td>

<td>
{{ app.student_name }} (ID: {{ app.student_id }})
</td>

<td>
{{ app.cgpa }}
</td>

<td>
{% if app.resume %}
<a href="/company/download_resume/{{ app.student_id }}" target="_blank">
Download Resume
</a>
{% else %}
No Resume
{% endif %}
</td>

<td>{{ app.status }}</td>

<td>

<form method="POST" action="/company/update_status/{{ app.id }}">

<select name="status" class="form-select">

<option value="Applied">Applied</option>
<option value="Shortlisted">Shortlisted</option>
<option value="Selected">Selected</option>
<option value="Rejected">Rejected</option>

</select>

<button class="btn btn-success btn-sm mt-1">
Update
</button>

</form>

</td>

</tr>

{% endfor %}

</table>

<a href="/company/dashboard" class="btn btn-secondary">Back</a>

{% endblock %}